.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.content {
  z-index: 1;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--text-color);
}


/* page.module.css */

.connectButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
